<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1 style="text-align: center;">Running agents</h1>
            <table matSort (matSortChange)="sortData($event)" class="table">
                <thead>
                    <tr>
                        <th mat-sort-header="username">Name</th>
                        <th mat-sort-header="username">Alias</th>
                        <th mat-sort-header="username">Address</th>
                        <th mat-sort-header="username">Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let agentId of agentService.runningAgents">
                        <td>{{agentId.name}}</td>
                        <td>{{agentId.host.alias}}</td>
                        <td>{{agentId.host.address}}</td>
                        <td>{{agentId.type.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>