<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1 style="text-align: center;">Message all</h1>
            <form (ngSubmit)="onSubmit()" #messageForm="ngForm">
                <div class="form-group mb-3">
                    <label for="subject" class="form-label">Subject</label>
                    <input class="form-control" id="subject" required [(ngModel)]="message.subject" name="subject" #subject="ngModel">
                    <div [hidden]="subject.valid || subject.pristine"
                        class="alert alert-danger">
                    Subject is required
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea class="form-control" id="content" required rows="5" [(ngModel)]="message.content" name="content" #content="ngModel"></textarea>
                    <div [hidden]="content.valid || content.pristine"
                        class="alert alert-danger">
                    Content is required
                    </div>
                </div>
                <div class="d-grid col-6 mx-auto">
                    <button class="btn btn-primary" type="submit" [disabled]="!messageForm.form.valid">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>