<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 style="text-align: center;">Received messages</h1>
            <table matSort (matSortChange)="sortData($event)" class="table">
                <thead>
                    <tr>
                        <th mat-sort-header="sender">Sender</th>
                        <th mat-sort-header="dateCreated">Received</th>
                        <th mat-sort-header="subject">Subject</th>
                        <th mat-sort-header="content">Content</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let message of messageService.messages">
                        <td>{{message.sender?.username}}</td>
                        <td>{{message.dateCreated | date:'short'}}</td>
                        <td>{{message.subject}}</td>
                        <td>{{message.content}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>